@charset "EUC-KR";

*{
	box-sizing: border-box;
}

.emp-list{
	display: grid;
	grid-template-columns: repeat(9,1fr);
	gap:3px;
	
}

.emp-list>div{
	border: 1px solid red;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
}
