<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  
  <!-- /resources/* 로 들어오는 요청은 원래대로 webapp 밑에서 찾아줌 -->
  <!-- 수정 후 서버 재시작 해야함 -->
  <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>appServlet</servlet-name>
  <servlet-class>chap07.servlet.ApplicationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>appServlet</servlet-name>
  <url-pattern>/</url-pattern>
  
  </servlet-mapping>
  
</web-app>