<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>chap05</display-name>
  
  <!--  
  		서버를 실행할 때 web.xml의 설정을 불러서 사용함 
  		이것의 설정은 서버를 재시작하기 전에는 반영이 되지 않음
  		
  		XML : 데이터를 체계적으로 저장하기 위한 문자열 구조
  			  XML형식으로 데이터를 저장해놓으면 다른 언어에서도 구조를 해석하여 사용할 수 있다
  -->
  
  <!--  # web.xml에 서블릿 매핑하기 -->
  <!--  (1)~(2)의 과정을 생략한게 @WebServlet("경로") -->
  
  <!--  (1) 서블릿 또는 .jsp 등록 -->
  <servlet>
  <!-- web.xml 내에서 사용할 서블릿 이름 (변수처럼) -->
  <servlet-name>helloServlet</servlet-name>
  <!-- 해당 서블릿의 경로(패키지도 적음) -->
  <servlet-class>chap05.servlet.HelloServlet</servlet-class>
  </servlet>
  
  <!-- (1)-2 jsp-file (webapp 이하의 경로 사용) -->
  <servlet>
  <!--  아래에서 사용할 서블릿의 이름을 설정함 아무거나 해도댐 -->
  <servlet-name>walwal</servlet-name>
  <jsp-file>/default.jsp</jsp-file>
  </servlet>
  
  
  <!-- 
  		(2) 등록된 서블릿과 원하는 URL을 매핑시키기 
  		
  		(1) 에서 등록하지 않은 서블릿 네임을 사용하면 서버가 안켜짐
  		* : 전부
  		/path/* : 해당 경로 이후 전부
  		*.hello : 확장자가 .hello인 것 전부
  		/ : 아무런 매핑에도 걸리지 않은 요청이 가게 되는 곳 (else)
  
  -->
  <servlet-mapping>
  <servlet-name>helloServlet</servlet-name>
  <url-pattern>/hell/hello</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>walwal</servlet-name>
  <url-pattern>/hell/hello/jsp</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>walwal</servlet-name>
  <url-pattern>/comic/*</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>walwal</servlet-name>
  <url-pattern>*.abc</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>elseServlet</servlet-name>
  <servlet-class>chap05.servlet.ElseServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>elseServlet</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!-- 
  		# 초기화 파라미터 (init parameter)
  		
  		- 웹 서버에서 초기화되는 변수들
  		- 전역 초기화 파라미터(context-param) : 모든 서블릿에서 사용 가능
  		- 지역 초기화 파라미터(init-param) : 설정한 서블릿에서만 사용 가능
  
   -->
   
   <servlet>
   <servlet-name>paramServlet</servlet-name>
   <servlet-class>chap05.servlet.ParamServlet</servlet-class>
   <init-param>
   <param-name>dsds</param-name>
   <param-value>1234</param-value>
   </init-param>
   
   <init-param>
   <param-name> sdsd</param-name>
   <param-value>4321</param-value>
   </init-param>
   <init-param>
   <param-name> driverName</param-name>
   <param-value>jdbc.driver.OracleDriver</param-value>
   </init-param>
   
   </servlet>
   
   <servlet-mapping>
   <servlet-name>paramServlet</servlet-name>
   <url-pattern>/param/*</url-pattern>
   </servlet-mapping>
   
   <!-- 전역 초기화 파라미터는 application 객체에서 꺼내 쓸 수 있다 -->
   <context-param>
   <param-name>version</param-name>
   <param-value>1.132.021</param-value>
   
   </context-param>
   
   
 
</web-app>